@page "/hra"
<h3 class="ml-10 mt-5 text-3xl font-bold text-gray-800 mb-4">Hádání čísel</h3>
<input type="number" @bind-value="hadaneCislo" @bind-value:event="oninput" class=" m-10 p-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent" />
<button @onclick="Hadam" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">Hádám</button>

<p class="bg-gray-200 text-gray-700 leading-7 p-4 rounded-md max-w-40rem">@oznameni</p>

<button id="myButton" onclick="location.reload()" class="ml-10 bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">Nová hra</button>


@code {
    int hadaneCislo = 1;

    private Random random = new Random();
    private int randomNumber = 0;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        randomNumber = random.Next(1, 101);
    }
    string oznameni = "Zadej cislo od 1 do 100";


    public void Hadam()
    {
        if (hadaneCislo < randomNumber)
        {
            oznameni = "Zadejte vetsi cislo";
        }
        else if (hadaneCislo > randomNumber)
        {
            oznameni = "Zadejte mensi cislo";
        }
        else if (hadaneCislo == randomNumber)
        {
            oznameni = "Správně! Chceš hrat znova?";
        }
    }
}
